doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Guarantee Issuance Notification
    style.
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
      }
      .container {
        background-color: #ffffff;
        width: 100%;
        max-width: 600px;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }
      .header {
        background-color: #007bff;
        color: #ffffff;
        padding: 10px;
        text-align: center;
      }
      .content {
        padding: 20px;
        line-height: 1.5;
      }
      .footer {
        text-align: center;
        padding: 10px;
        font-size: 0.8em;
        background-color: #ddd;
      }
      .button {
        display: inline-block;
        padding: 10px 20px;
        margin: 10px 0;
        background-color: #007bff;
        color: white !important;
        text-decoration: none;
        border-radius: 5px;
      }
       .button:hover {
        opacity: 0.7;
       }

  body
    .container
      .header
        h1 Guarantee Issuance Notification
      .content
        h2 Dear #{beneficiary_business_name} and #{applicant_business_name},
        p We are pleased to inform you that a guarantee has been issued in your favor by #{bankName}. Please find the details of the guarantee below:
        p
          strong Guarantee Reference Code:&nbsp;
          | #{guarantee_id}-#{applicant_detail_id}-#{beneficiary_detail_id}
        p This guarantee assures that the obligations under the agreement between the parties will be met. Should you need to invoke this guarantee, please follow the process outlined in your contract agreement or contact us directly.
        a(href=`${docURL}` class='button') View Guarantee
        p If you have any questions or require further information, please do not hesitate to contact us at vieguarantee@gmail.com.
        p Thank you for your continued trust in our services.
      .footer
        p © 2024 VieGuarantee. All rights reserved.
